@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  background-color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order-link {
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  min-width: 7rem;
  padding: 0.71429rem 1.21429rem;
  border-radius: 0.35714rem;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #b93b19; }

.main {
  background-image: url("../img/back/hero_bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.85714rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 1.07143rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }
  .nav__link:hover {
    text-decoration: underline; }

.main__container {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main__content {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 15%; }

.main__description, .main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.main__description {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  margin: 0;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 300;
  line-height: 1.42;
  color: #f9b43b;
  padding-top: 60px; }

.main__description {
  font-family: 'Lifehack';
  font-size: 4.64286rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff; }

.main__arrow-scroll {
  width: 29px;
  background: url(../img/icons/arrow-scroll.png);
  background-repeat: no-repeat;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px; }

.pagination__item {
  margin-bottom: 5px; }

.pagination__item:last-child {
  margin-bottom: 0; }

.pagination__page, .pagination__page-one {
  display: block;
  height: 16px;
  width: 16px;
  text-decoration: none;
  color: #fff;
  position: relative; }

.pagination__elevation {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin: 6px 6px; }

.pagination__list {
  top: 5.625rem;
  right: 3%;
  position: absolute; }

.pagination__page-one {
  border-radius: 50%;
  border: 2px solid #fff; }

.pagination__page {
  border: 2px solid transparent; }

.superior {
  background-image: url("../img/back/best-bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.superior__content {
  text-align: center;
  height: 100%;
  margin-top: -126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.superior__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.superior__item {
  max-width: 18.71429rem;
  margin: 0.57143rem; }

.section__title--superior {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.71429rem; }

.superior__name {
  font-family: lifehack, cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.92857rem; }

.comments {
  height: 100%;
  background-color: #2f3234; }

.comments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%; }

.comments__item {
  overflow: hidden;
  height: 50%;
  width: 25%;
  position: relative; }
  .comments__item:hover .comments__textblock {
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.7); }

.comments__photo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.comments__name {
  font-family: 'Gagalin';
  text-transform: uppercase;
  margin-bottom: 1.42857rem; }

.comments__text {
  margin-bottom: 1.42857rem;
  line-height: 1.71429rem; }

.comments__textblock {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 3.35714rem 1.42857rem;
  padding: 2.92857rem 1.21429rem;
  color: #fff;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.comments__textblock:hover {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1; }

.comments__link {
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  min-width: 7rem;
  padding: 0.71429rem 1.21429rem;
  border-radius: 0.35714rem;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 0.85714rem;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .comments__link:hover {
    background-color: #181919; }
