.burgers{
  background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgers__arrow{
	background-size: contain;
	background-repeat: no-repeat;
	width: rem(34px);
	height: rem(27px);
	background-position: 50%;
	cursor: pointer;


}
.arrow-right{
	background-image: url("../img/burgers/arrow-scroll-r.png");
}
.arrow-left{
	background-image: url("../img/burgers/arrow-scroll-l.png");
}
.burgers__slider{
	display: flex;
	align-items: center;
	justify-content: space-around;
	@include tablets{
		flex-direction: column;
	}
}
.burgers__content{
	justify-content: center;
    align-items: center;
    display: flex;
    width: 95%; 
    max-width: 100%;
    justify-content: space-between;
}
.burgers__left{
	width: 40%;
	position: relative;

	@include tablets{
		width: 60%;
 
    }

    @include phones{
		width: 100%;
 
    }


}
.burgers__burger{
  max-width: 100%;
}
.burgers__image{
	position: relative;
}
.burgers__image-js{
	position: absolute;
	top: rem(-69px);
    left: rem(27px);
	width: 5.42857rem;
	height: 5.42857rem;
	background-color: rgba(240, 140, 51, .7);
	border-radius: 10px;
	cursor: pointer;
	&:hover .burgers__products{
		display: block;
	}
	 @include tablets{
    position: relative;
    top: 0rem;
    }
		&:after{
		    display: inline-block;
		    width: 100%;
		    content: "состав";
		    text-align: center;
		    margin: rem(10px) auto;
		    font-size: 0.875rem;
		    font-family: "Gagalin";
		    color: #fff;
		    line-height: 0.008;
	}

}
.burgers__img{
	padding: 0.72857rem 1.2rem 0;
}
.burgers__kkal{
	position: absolute;
	width: rem(60px);
	height: rem(75px);
	left: rem(32px);
    bottom: rem(-35px);
    @include tablets{
    position: relative;
    left: 0;
    bottom: 0;
    }
}
.section__title--burgers{
	color: #fff;
    font-family: "Gagalin";
    line-height: 0.889;
    text-align: left;
    width: 100%;
    margin-bottom: 2.57143rem;
    @include tablets{
    	margin: rem(10px) auto;
    	text-align: center;
    }
     @include phones{
     	font-size: 3.54286rem;

     }
}
.burgers__right{
	width: 40%;
	 @include tablets{
    	width: 78%;
    }
}
.burgers__description{
  font-family: "Ubuntu";
  line-height: 1.714;
  text-align: left;
  color: #fff;
  margin-bottom: 2.57143rem;
  @include tablets{
  	    text-align: center;
  }
}
.burgers__cost{
  font-family: "Gagalin";
  display: inline-block;
  font-size: 1.97143rem;
  color: rgb(227, 80, 40);
  line-height: 0.39;
  text-align: left;
	.burgers__up{
		font-size: 4.07143rem;
	}
	
}
.burgers__btn-slider{
	background-color: #e45028;
	display: inline-block;
	width: rem(97px);
	height: rem(35px);
	margin-left: rem(25px);
	font-size: 13px;
  	font-family: "Ubuntu";
}
.burgers__down{
	vertical-align: bottom;
	@include tablets{
		display: flex;
    	justify-content: center;
	}
}

.burgers__menu{
	display: flex;
	flex-direction: column;
	position: absolute;
    justify-content: space-between;
    height: 130%;
    left: rem(-23px);
    top: -1rem;
    
	@include tablets{
		flex-direction: row;
		width: 120%;
		top: -3.5rem;
		align-items: space-between;
		left: -4.64286rem
	}

	 @include phones{
    top: -3.42857rem;
    left: -2.64286rem;
    width: 110%;
    }
}


.burgers__btn-slider{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding: rem(10px) rem(16px);
	background-color: #e45028;
	color: #fff;
	border-radius: 7px;
	border: 0;
	font-family: "Ubuntu", Arial, sans-serif;
	transition: .7s;
	cursor: pointer;
	&:hover{
		background-color: darken(#e45028, 20%);
	}
}

.burgers__products{
	display: none;
	width: rem(280px);
	height: 21.57143rem;
	background-color: #fff;
	position: absolute;
	border-radius: 10px;
	padding: rem(20px);
	position: absolute;
    left: 5.35714rem;
    opacity: 0.8;
    @include phones{
    	left: 5.35714rem;
    	width: 16.85714rem;
    	height: 23.57143rem;
    }
}
.burgers__product-name{
	font-weight: bold;
}
.burgers__list{
	display: flex;
    flex-direction: column;
}
.burgers__row{
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(14px);
	font-family: "Ubuntu";
	color: rgb(47, 50, 52);
	line-height: 1.714;
	text-align: left;
}

%burgers__product-icon{
	background-image: url("../img/sprite/burger_products.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;

}

$l: 0px;
@each $i in (0, 50, 100, 150, 200, 250){
	.burgers__product-icon_#{$i} {
		@extend %burgers__product-icon;
		$length: 0px  - $i;
		background-position: 1px $length;
	}
} 
