.map{
  background: url("../img/back/map.png");
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  background-position: 50%;
 }
