.main {
  background-image: url("../img/back/hero_bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative; 
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.85714rem;
 
}

.header__logo {
  margin-right: auto;
} 

.nav {
  margin-right: 1.07143rem;

  @include tablets() {
    display: none;
  }
}

.nav__list {
  margin: 0;
  padding: 0; 
}

.nav__item {
  white-space: nowrap; 
  display: inline-block;
  vertical-align: middle;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}
.nav__link {
  font-size: rem(11px);
  font-weight: 400;
  color: #ffffff;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .7s;
  &:hover {
    text-decoration: underline;
  }
}

.main__container {
  height: 100%;
  align-items: center; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__content {
  padding-bottom: 17%;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 0;
    padding-right:0;
  }
}

.main__description, .main__img {
 width: 50%;

  @include tablets {
    width: 100%;
  }
}
.main__burger{
  max-width: 100%;

}
.main__subtitle{
  font-size: 62px;

  @include tablets {
        text-align: center;
    }

  @include phones {
    font-size: 50px;
  }
}

.section__title {
  margin: 0;
  font-family: 'Gagalin';
  font-size: 4.54286rem;
  font-weight: 300;
  line-height: 1.42;
  color: #f9b43b;
}
.section__title--main{
   margin-bottom: rem(1px);

   @include tablets {
        text-align: center;
    }

  @include phones {
    font-size: 61px;
  }

}
.main__description {
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
  color: #ffffff; 
  margin-top: rem(60px);

  @include tablets(){
    width: 80%;
    align-items: center;
    margin-top: 0.14286rem;;
  }

  @include phones(){
    width: 100%;
    margin-top: 0;
    text-align: center;
   }

}
.main__arrow{
  width: rem(53px);
}
.main__arrow-scroll{
  position: absolute;  
  right: 48%;
  bottom: 2.07143rem;
  
}

.main__img {
   margin-right:rem(24px);

  @include tablets {
    margin-left: 31%;
    margin-top: -11%;;
  }

  @include phones {
    width: 80%;
    margin-left:0;

  }
}

.menu-burger{
  background: url(../img/icons/burger-menu.png) 50% 50% no-repeat;
  margin-left: 1.875rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;

   @include tablets() {
    display: flex;
    border-radius: rem(1px);

  }
}