.footer {
    background-image: url("../img/back/footer.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    height: rem(70px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones{
    height: rem(100px);
    }
}

.footer__left{
    display: inline-block;


    @include phones{
     font-size: 1.05714rem;
     text-align: center;
}

}
.footer__contacts{
    display: flex;
    flex-direction: column;
    padding: 0.1429rem 0;
    padding-top:rem(8px);
}

.footer__right{
    text-align: right;
}
.footer__content{
    display: flex;
    justify-content: space-between;

    @include phones{
     display: flex;
     flex-direction: column;
}

}
.footer__address{
    color:#fff;
    margin-bottom: 0.1429rem;
}
.footer__phone{
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: 700;
    color: #e45028;
    text-decoration: none;
}
.footer__phone-icon{
    fill: #e45028;
    width: rem(10px);
    height: rem(10px);
}
.footer__list{
  padding: 1.02857rem 0;
}